[2021-08-03 04:47] Mantraufo opened #1 "hi"
first of all thank you very much for sharing

C:\Users\LENOVO\Documents\NoteMalware>git clone --recurse https://github.com/klezVirus/inceptor.git
Cloning into 'inceptor'...
remote: Enumerating objects: 272, done.
remote: Counting objects: 100% (272/272), done.
remote: Compressing objects: 100% (203/203), done.
remote: Total 272 (delta 56), reused 272 (delta 56), pack-reused 0
Receiving objects: 10

[2021-08-03 05:05] Mantraufo commented on #1
sorry I managed to fix it, just cloene the repository before running virtualenv venv

[2021-08-03 05:05] #1 closed

[2021-08-03 06:51] GeorgePatsias opened #2 "Installation Errors"
git clone --recurse https://github.com/klezVirus/inceptor.git
Produces the following errors
[code]

python update-config.py
Produces the following errors
[code]

[2021-08-03 07:11] Mantraufo commented on #2
I present the same errors and I tried to fix it manually so that it does not use the missing folders but it still gives errors

(venv) C:\Users\LENOVO\Documents\NoteMalware\inceptor\inceptor>python update-config.py
Traceback (most recent call last):
  File "C:\Users\LENOVO\Documents\NoteMalware\inceptor\inceptor\update-config.py", line 325, in <module>
    update_config()
  File "C:\Users\LENOVO\D

[2021-08-03 08:45] klezVirus commented on #2
Hi there, Thanks for your submission, I've replicated your issue and fixed with commit [faded2693f0e2ac7d2b34755d9678006db42fa8d](https://github.com/klezVirus/inceptor/commit/faded2693f0e2ac7d2b34755d9678006db42fa8d). I'm closing this now, let me know if there is any other blocking error.

[2021-08-03 08:45] #2 closed

[2021-08-03 20:55] Mantraufo opened #3 "fix obfuscators"
First of all thanks for such an incredible work, I am testing some modules , there is an error in the obfuscating part, greetings

[*] Multiple compatible templates identified, choose one:
  0: assembly_load.cs
  1: classic.cs
  $> 1
[+] .Net Artifact Generator Started At 2021-08-03 20:47:24.632763
[*] Phase 0: Loading...
[*] Phase 1: Converting binary into shellcode
  [>] Transformer: Donut
[*] P

[2021-08-04 05:53] klezVirus commented on #3
Hi Mantrauf! Thanks a lot for that!
Should be fixed in [968170889d867ac8e4c385fd5f27b3d7cf4aed36](https://github.com/klezVirus/inceptor/commit/968170889d867ac8e4c385fd5f27b3d7cf4aed36).

 I might get rid of the EXEs sooner or later and just add the download/unpacking routine in update_config, but for now, it's done! ;)

[2021-08-04 06:56] Mantraufo commented on #3
Thank you very much for this beautiful project, how can I send some templates that I plan to start developing?

[2021-08-05 07:14] klezVirus commented on #3
You're welcome! It was fun to implement, and there are still several milestones on the project plan.

Regarding the development of new templates, you are welcome to just clone the repo and submit them via PR.
Just a word of notice here, though: I'll recommend submitting only templates only if you have a good reason to submit them.
Valid reasons may be:
- The "learning" content of the template is h

[2021-08-05 07:14] #3 closed

[2021-08-05 08:15] fuzz-security opened #4 "ModuleNotFoundError: No module named 'obfuscators.powershell.chameleon.chameleon'"
PS C:\Users\test\Desktop\inceptor\inceptor> python3 .\inceptor.py
Traceback (most recent call last):
  File "C:\Users\test\Desktop\inceptor\inceptor\inceptor.py", line 12, in <module>
    from generators.PowerShellArtifactGenerator import PowerShellArtifactGenerator
  File "C:\Users\test\Desktop\inceptor\inceptor\generators\PowerShellArtifactGenerator.py", line 9, in <module>
    from obfuscators.

[2021-08-05 13:06] klezVirus commented on #4
Hi fuzz-security, I guess you forgot the --recursive flag.

Whoever reading this message: check the install section.

[code]
If you haven't clone with recursive, you can still fix it, with this:
[code]
After that, you will probably need to fix the `.gitmodule` file as windows usually use the "\\" path divider instead of "/".

[2021-08-05 13:06] #4 closed

[2021-08-06 14:41] dubo12 opened #6 "Cloning issue"
Hello, I am sure it is something simple I am doing wrong but I keep getting:

Please make sure you have the correct access rights
and the repository exists.

Any ideas of how to sort please?

Thanks!

[2021-08-08 20:40] klezVirus commented on #6
I guess it was chameleon fixed with [748ea560eae7224ff977dde2840f47abb4b95b54](https://github.com/klezVirus/inceptor/commit/748ea560eae7224ff977dde2840f47abb4b95b54). If the error persists, let me know.

[2021-08-08 20:40] #6 closed

[2021-08-09 05:53] Mantraufo opened #7 "Bug Dinvoke Amsi"
python inceptor.py dotnet -t donut client.exe -o kiwi.exe --sgn --sign --delay 120 -m dinvoke -m amsi

[*] Multiple compatible templates identified, choose one:
  0: bypass-dinvoke.cs
  1: bypass-dinvoke_manual_mapping.cs
  $> 0
Traceback (most recent call last):
  File "C:\Users\LENOVO\Documents\NoteMalware\inceptor\inceptor\engine\modules\AmsiModule.py", line 62, in __init__
    kwargs["template

[2021-08-09 05:57] Mantraufo opened #8 "Dinvoke Syscall"
python inceptor.py dotnet -t donut client.exe -o kiwi.exe --sgn --sign --delay 120 -m syscalls

[-] SyscallsModule requires -m dinvoke!

python inceptor.py dotnet -t donut client.exe -o kiwi.exe --sgn --sign --delay 120 -m syscalls -m dinvoke

[-] No template found with given criteria

[2021-08-09 16:35] klezVirus commented on #8
Hi Mantraufo, thanks for reaching out. This is expected, we don't have a syscalls template for self-execution (please feel free to submit one if you think it can be useful for the community ;)! ). If you add (-P|--pinject), Inceptor will locate the right template. Closing this for now. Feel free to reopen if anything is not working as expected.

[2021-08-09 16:35] #8 closed

[2021-08-09 17:00] klezVirus commented on #7
Hi Mantraufo, thanks for pointing that out, it was an issue with the architecture which is now required for Dinvoke. Fixed in [cf0f9fd](https://github.com/klezVirus/inceptor/commit/cf0f9fdf483913d17dacc401b34e81e8b3b67b7d).

[2021-08-09 17:00] #7 closed

[2021-08-09 23:59] bangpk opened #9 "Access is denied"
Thanks for share your tools. I have a problem testing the tool.
(venv) C:\Users\trinhbang\Desktop\No1\inceptor\inceptor>python inceptor.py native mihawk.exe -t donut -e xor -C llvm -O --delay 60 --arch x64 --sgn --sign -m amsi,delay,syscalls,unhook,amsi -o mihawk2.exe

[+] Native Artifact Generator Started At 2021-08-08 14:30:53.471625
[*] Phase 0: Loading...
[*] Phase 1: Converting binary into sh

[2021-08-10 03:33] zhimiyouwu33 commented on #9
Hey,buddy,I also encountered the same problem.

PS E:\win10-tools\vs\CCC\PE\inceptor\inceptor> python3 .\inceptor.py -hh
Traceback (most recent call last):
  File ".\inceptor.py", line 12, in <module>
    from generators.PowerShellArtifactGenerator import PowerShellArtifactGenerator
  File "E:\win10-tools\vs\CCC\PE\inceptor\inceptor\generators\PowerShellArtifactGenerator.py", line 9, in <module>

[2021-08-10 06:14] klezVirus commented on #9
Hi there, I'm not sure about why it's giving you an access denied, but your cli command is wrong:
1. Amsi module doesn't support c/c++
2. If you want to add multiple modules, the correct syntax is
[code]
@zhimiyouwu33 nah, mate, this is not the same issue at all. You just forgot to clone with the `--recurse` flag, see closed issues for a workaround.

[2021-08-10 10:59] zhimiyouwu33 commented on #9
Thanks,buddy.

[2021-08-10 11:27] zhimiyouwu33 commented on #9
Thanks,buddy.

[2021-08-10 14:04] #9 closed

[2021-08-12 17:26] r0ot-to0r opened #10 "No module named 'obfuscators.powershell.chameleon.chameleon"

[2021-08-12 17:27] r0ot-to0r commented on #10
from generators.PowerShellArtifactGenerator import PowerShellArtifactGenerator
from obfuscators.powershell.Karmaleon import Karmaleon
from obfuscators.powershell.chameleon.chameleon import Chameleon
ModuleNotFoundError: No module named 'obfuscators.powershell.chameleon.chameleon'

[2021-08-12 20:35] RedLectroid commented on #10
looks like Chameleon isn't downloading properly.  You can manually download this git and place it in the folder:  https://github.com/klezVirus/chameleon/tree/03f3ad2f9764c8a886d15c427962a2b654a5a9d2

[2021-08-13 06:47] r0ot-to0r commented on #10
Thx! bro

[2021-08-13 09:01] klezVirus commented on #10
Helle there guys. I tried, but I cannot replicate the issue:

[code]
Are you guys sure you are using the `--recursive` flag?

Closing for now, but let me know if you can clone it correctly even with the correct flag on.

[2021-08-13 09:01] #10 closed

[2021-08-13 11:46] RedLectroid commented on #10
I'm guessing the issue is due to grabbing the repo with the "download as zip" button instead of using git in the command line.

Not sure if that's what caused the issue for @r0ot-to0r,  but confident it was for me.

[2021-08-13 12:37] klezVirus commented on #10
Hi @RedLectroid. Thanks for the clarification. Of course the "download as zip" cannot handle submodules.

For anyone reading this: the **only** official way to install the tool is the one written in the readme.

[2021-08-15 12:43] lexone12 opened #11 "[WinError 5] Access is denied"
C:\Users\Administrator\inceptor\inceptor>python inceptor.py native C:  test.exe -o 111daa.exe -t loader

[+] Native Artifact Generator Started At 2021-08-15 11:53:22.856704
[*] Phase 0: Loading...
[*] Phase 1: Converting binary into shellcode
  [>] Transformer: Loader
[*] Phase 2: Encoding
[*] Phase 3: Generating source files using CLASSIC
  [>] Phase 3.1: Writing CPP file in .\temp\tmptxs2l2rc.cp

[2021-08-16 10:09] klezVirus commented on #11
Hi @lexone12, I'm not sure but it seems there is an error in your command line?

[code]

[2021-08-16 12:53] lexone12 commented on #11
I hid the path
python inceptor.py native C:\Users\Administrator\Downloads\1\2\test\Release\proxy_test.exe -o 111daa.exe -t loader

[2021-08-16 12:53] lexone12 commented on #11
python inceptor.py native C:\Users\Administrator\Downloads\RUS\2\proxy_test\Release\proxy_test.exe -o 111daa.exe -t loader

[2021-08-27 18:11] prettyrecon opened #12 "How cloud i hide the running windows"
Hi,

How cloud i hide the running windows?

[code]

![image](https://user-images.githubusercontent.com/79907007/131170418-f59f9e36-28c3-48c7-ab78-916fc67cdad1.png)

Best regards

[2021-08-31 15:47] blackhattokyo opened #13 "No module"
python3 inceptor.py -hh                                                                                      1 ⨯
Traceback (most recent call last):
  File "/home/kali/Desktop/av bypass/inceptor/inceptor/inceptor.py", line 12, in <module>
    from generators.PowerShellArtifactGenerator import PowerShellArtifactGenerator
  File "/home/kali/Desktop/av bypass/inceptor/inceptor/generators/PowerShellArt

[2021-09-01 19:25] bschroed96 commented on #13
https://github.com/klezVirus/inceptor/issues/10

[2021-09-10 06:39] JuraGHH commented on #10
Hi,

The error I got when cloning a repository.

git clone --recursive https://github.com/klezVirus/inceptor.git
Cloning into 'inceptor'...
remote: Enumerating objects: 337, done.
remote: Counting objects: 100% (337/337), done.
remote: Compressing objects: 100% (238/238), done.
remote: Total 337 (delta 91), reused 330 (delta 84), pack-reused 0
Receiving objects: 100% (337/337), 17.12 MiB | 1.91 Mi

[2021-09-11 07:11] 3llxkx opened #14 "AttributeError: 'NoneType' object has no attribute 'set_architecture'"
![image](https://user-images.githubusercontent.com/42424713/132939832-df9f58fc-86f1-4499-9e55-7d36c2b542ae.png)

[2021-09-14 16:33] 0xElessar commented on #11
I have very similar issue unfortunately. Ran as admin in the Visual Studio command prompt:

[code]

[2021-09-14 21:18] 0xElessar opened #15 "LLVM Native"
Hello @klezVirus ,

thank you for your work. I tried to use LLVM compilation for nice obfuscation, but this command results in the missing DLL files errors:

[code]

One of the missing libraries attached.

I repeated the installation process multiple times. The error always occurs.

![llvm](https://user-images.githubusercontent.com/45904293/133335264-6729592e-9456-426e-90fa-6f5356912e13.png)

[2021-09-14 21:42] 0xElessar commented on #15
The problem is caused by clang-cl.exe in the "\inceptor\obfuscators\native\llvm-clang\llvm-clang" folder.

Next, I downloaded the LLVM package and installed it. Added it to the path as well. I can access clang-cl.exe from this install without any errors. However, the update-config.py still reports, LLVM is not installed and downloads pre-compiled binaries. Next, it uses clang-cl.exe from the "\inc

[2021-09-15 20:25] 0xElessar commented on #15
OK. I have managed to fix it by:

1. installing mingw from https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/installer/mingw-w64-install.exe/download

I used the following version: x86_64-8.1.0-posix-seh-rt_v6-rev0

2. Extracting 3 DLL from the installed files and putting them into: C:\[...]\inceptor\inceptor\obfuscators\native\llvm-cla

[2021-09-16 17:11] klezVirus commented on #12
Hi @prettyrecon, I'm going to add the --hide flag for dotnet very soon ;)

[2021-09-17 21:35] klezVirus commented on #11
Hi @lexone12, after a while, I discovered the error might be caused by some missing DLLs in the precompiled version of LLVM-Obfuscator. You can try fixing it by building LLVM_obfuscator directly on your system. The steps required are available [here](https://github.com/klezVirus/obfuscator/tree/llvm-9.0.1).

@0xElessar, your issue is way different fro the one encountered by @lexone12 , and it's ca

[2021-09-17 21:40] klezVirus commented on #15
Hi @0xElessar, just noticing this after I answered to the other issue. Honestly, it's a smart way to solve the problem. Not knowing if this is applicable in all cases (I' not even sure why this happens in certain version of Windows/Visual Studio only), the official fix is still to re-build LLVM-Obfuscator. Anyway, happy you managed to find a solution!

[2021-09-17 21:40] #13 closed

[2021-09-17 21:42] klezVirus commented on #14
Hi mate, I'm seeing the issue, but can you please give me a bit more context? Just to start, please paste here the exact command line you were using to lanuch the program.

[2021-09-18 02:12] 3llxkx commented on #14
<python inceptor.py dotnet -t donut mimikatz.exe -o kiwi.exe --sgn --sign> is  good
<python inceptor.py dotnet MsgboxShellcode64.bin -o MySisterFell.exe --sgn --sign -P -m dinvoke> with error
![image](https://user-images.githubusercontent.com/42424713/133868925-a4690994-be50-4836-871a-0a8a05a04835.png)

[2021-09-18 09:07] klezVirus commented on #14
Hi @3llxkx, thanks for the additional information. Now it makes sense, the supported extension for shellcode files is "raw". If you rename your file from `MsgboxShellcode64.bin` to `MsgboxShellcode64.raw`, it should work again.

I should defintely introduce a preliminary check on the input file name.

[2021-09-18 09:20] 3llxkx commented on #14
Cool, it's working well now, thank you！

[2021-09-18 10:09] #14 closed

[2021-09-18 16:01] 0xElessar commented on #15
@klezVirus thank you for your response. Yeah, I was really surprised to see this problem.

Great work and project. Thank you for your time, @klezVirus .

[2021-09-18 16:01] #15 closed

[2021-09-18 16:44] 0xElessar commented on #11
Hello @klezVirus ,

setting --arch does not matter unfortunately. The errors are exactly the same. Using shellcode works perfectly. Soon I will try the .NET binary. Need to setup to new C2 infra first. I will keep you updated :) Thanks again for the tool and the support!

[2021-09-18 17:32] klezVirus commented on #11
Well, this is strange, can you add the debug information for the donut loader?
You can do this by going in the `config.ini`, and putting `LOADERS = 1` in the `DEBUG` section. This will print the donut command line executed by the program, which can help identifying the problem.

[2021-09-18 18:56] 0xElessar commented on #11
Of course. Great idea, @klezVirus .

`python inceptor.py native c:\Repos\bbb.exe -o .\test.exe -t donut --arch x86`
generates this donut command:
`"C:\Repos\inceptor\inceptor\libs\public\donut.exe" -e3 -a2 -b1  -f1 "c:\Repos\bbb.exe" -o "C:\Repos\inceptor\inceptor\temp\bbb.bin"`
`python inceptor.py native c:\Repos\bbb.exe -o .\test.exe -t donut --arch x64`
generates the same command!
`"C:\Repos\in

[2021-09-18 19:40] klezVirus commented on #11
Yeah, I guessed it was the architecture. This will be definitely fixed with next commits. Thanks a lot for your time here, this was extremely valuable! As soon as I push the fix, probably tonight, I'll close the isse. Again, thanks @0xElessar for the help :D

[2021-09-18 20:00] 0xElessar commented on #11
No problem, @klezVirus. The pleasure is mine. Thank you for helping the community. The tool is great!

[2021-09-20 01:49] germinalx commented on #10
Hi, I have the same problem before when I tried to clone with recursive flag... It says

Please make sure you have the correct access rights
and the repository exists.
fatal: clone of 'git@github.com:klezVirus/chameleon.git' into submodule path 'C:/XXX/XXX/inceptor/inceptor/obfuscators/powershell/chameleon' failed
Failed to clone 'inceptor/obfuscators/powershell/chameleon' a second time, aborting

[2021-09-20 09:53] Hackndo commented on #12
Hey there,
Glad to read this. Will it be for dotnet only? :)

[2021-09-20 12:54] klezVirus commented on #12
Nope, both C# and C/C++

[2021-09-20 20:53] 0xElessar opened #16 "Modules, signature and DLL"
Hey @klezVirus,

sorry to bother you again, but I have a few questions/issues. When you have a moment, can you have a look, please?

a) Are you sure the native signatures work correctly?

[code]
[code]

b) Are you sure Modules work correctly in the native mode? I can't see any difference in the below tool output:

[code]

[code]

c) DLLs - Could you explain how this functionality works with some e

[2021-09-20 23:19] klezVirus commented on #16
Hi @0xElessar, you're right, there was a bug with the signature in when generating native EXE. For the `-dll` flag, I have to be honest, I think it's just confusing, I'm gonna remove it in the near future. That flag would create a wrapper DLL around the executable. Let's say you run the following command:
[code]
The idea is that you would create two files:
1. An exe
2. A DLL which should execute a

[2021-09-21 13:23] 0xElessar commented on #16
Thank you, @klezVirus .

I get the point :) But it will be pity if you remove features, already present in the tool. That would be such a waste of time!

I ran successfully this:
`python inceptor.py native c:\Repos\test1.raw -o testdll.exe --dll`

I got two files:
- testdll.exe
- testdll.dll

But the shellcode is still present in the exe file :( So I am not sure why we need testdll.dll.

This feat

[2021-09-21 19:05] klezVirus commented on #12
The feature has been pushed now in the main branch.

Closing the issue for now.

[2021-09-21 19:05] #12 closed

[2021-09-21 19:06] #11 closed

[2021-09-21 22:34] klezVirus commented on #10
Hi @germinalx and @JuraGHH, we had a regression error with the .gitmodules. It's fixed now, you can try downloading again, it should work as expected. If you want, you can also use the fix provided in the [wiki](https://github.com/klezVirus/inceptor/wiki) (work in progress).

[2021-09-21 22:47] klezVirus commented on #16
Hi @0xElessar, I've started the Wiki, let me know if you notice something missing that you would like to see there. Again, thanks for your feedback, it's extremely valuable!

[2021-09-22 15:05] 0xElessar commented on #16
No problem, @klezVirus . My pleasure!

Thank you. Wiki looks great. Signing examples ... so helpful !!!

I am going to check the modules examples, but first I need to install the new version. But there is a problem :( Unlucky me :(

[2021-09-22 15:09] 0xElessar opened #17 "Python requirements.txt"
Hey @klezVirus ,

apologies firstly. I bring another issue. I tried multiple times, but the new version install fails for me :(

[code]

Did I do something wrong?

thanks in advance!

[2021-09-22 17:52] tothi commented on #17
it is a simple spelling error: win32-sectime should be win32-setctime in the requirements.txt file.

[2021-09-22 18:19] 0xElessar commented on #17
Indeed, thank you, @tothi ! Installs without a problem now!

[2021-09-22 19:24] klezVirus commented on #17
Fixed now, thank you both!

[2021-09-22 19:24] #17 closed

[2021-09-24 16:16] dmcxblue opened #18 "[Errno 2] No such file or directory: 'C:\\Tools\\inceptor\\inceptor\\syscalls\\syswhispersv2\\data\\typedefs.json'"
I see that this file is missing in the repository for syscalls, I did add this file to see if that will help but I was wrong assuming this it will show more errors. Maybe it's a specific one that is missing or I can't find.

Thanks!

Not adding file
![image](https://user-images.githubusercontent.com/41899653/134707532-515a1ebd-5704-426d-860f-1d97681ccf3c.png)

Adding
![image](https://user-images.g

[2021-09-24 16:46] klezVirus commented on #18
Hi @dmcxblue, may I ask you to share the cmd line you used so I can test it out?

[2021-09-24 17:15] dmcxblue commented on #18
Yeah, my bad

python inceptor.py native -m syscalls -e xor -C llvm -o testpayload2.exe C:\Tools\Payloads\payload.exe

[2021-09-28 14:53] kpua opened #19 "how to disable information window after lunching patched exe?"

[2021-09-30 10:28] gabyavra opened #20 "ModuleNotFoundError: No module named 'generators.DotNetArtifactGenerator'"
pip install generators
Requirement already satisfied: generators in c:\users\xxx\inceptor\venv\lib\site-packages (2020.4.27)
Requirement already satisfied: strict-functions in c:\users\xxxx\inceptor\venv\lib\site-packages (from generators) (2020.2.4)

 File "c:\Users\xxxx\inceptor\inceptor\inceptor.py", line 11, in <module>
    **from generators.DotNetArtifactGenerator import DotNetArtifactGenerat

[2021-09-30 11:41] klezVirus commented on #20
Hi @gabyavra, I'm not sure why you're installing package 'generators', as doing so, you're creating a name conflict within you're dependencies?
May I ask you to uninstall that package and try again?

[2021-09-30 11:47] klezVirus commented on #18
Hi @dmcxblue, just pushed a fix ;)

[2021-09-30 11:47] #18 closed

[2021-09-30 11:48] gabyavra commented on #20
Hello,

See the output below:

(venv) c:\Users\xxx\xxx\inceptor\inceptor>pip uninstall generators
Found existing installation: generators 2020.4.27
Uninstalling generators-2020.4.27:
  Would remove:
    c:\users\xxx\xxx\inceptor\venv\lib\site-packages\generators-2020.4.27.dist-info\*
    c:\users\xxx\xxx\inceptor\venv\lib\site-packages\generators\*
Proceed (Y/n)? y
  **Successfully uninstalled gen

[2021-09-30 11:48] klezVirus commented on #19
Hi @kpua, what you mean for "information window"? If you're referring to the console, you just need to add the -hw or --hide-window flag

[2021-09-30 11:51] klezVirus commented on #20
I'm not sure why this is still not installing. Can you try a git pull `--recurse-submodules`? Otherwise, the official workaround for this issue is in the wiki

[2021-09-30 11:52] klezVirus commented on #16
Hi @0xElessar, closing for now, feel free to reopen in case.

[2021-09-30 11:52] #16 closed

[2021-10-01 04:14] ott0sec opened #21 "FileNotFoundError: [Errno 2] No such file or directory: '/home/ott0/tools/util/github/inceptor/inceptor/templates\\public\\csharp/code_execution'"
python3 inceptor.py dotnet -t donut -o TEST.exe SHELL.raw

I am trying to execute this command and gives me the error above.

[2021-10-01 07:14] klezVirus commented on #21
Ho @ott0sec, it seems to me that you're trying to execute this from Linux, Cygwin or WSL. As clearly stated in the README, currently inceptor supports only Windows

[2021-10-01 18:11] #21 closed

[2021-10-06 15:56] 0xElessar opened #22 "DLL nativemode"
Hey @klezVirus ,

when you have a moment, could you have a look at below.

I tried to use your tool to generate some DLL and sign them. Here are my results:

`python inceptor.py native c:\repos\msgbox32.raw --arch x86 -o cldapi.dll`
Does not work. The exported function is called _PsychoBlastEP@16 and it cannot be called successfully.

`python inceptor.py native c:\repos\msgbox64.raw --arch x64 -o

[2021-10-12 12:45] Simon-Davies opened #23 "Can't git clone project"
[code]

[2021-10-31 16:37] axano opened #24 "The specified executable is not a valid application for this OS platform."
When I try to run the packed exe I get this error:  The specified executable is not a valid application for this OS platform.

This is the used command:
[code]

This is the output:

[code]

And this is the error when i try to run the packed exe:

[code]

The e_inj.exe executable is written in C with visual studio and compiled in x64.

[2021-11-02 10:40] klezVirus commented on #24
Hi @axano, thanks for that. This is an issue with how SigThief works. It seems to me that the signature cloning is not applying only the signature to the output binary, effectively breaking the payload. Let me take a look at this further.

[2021-11-04 19:26] uspyou opened #25 "Injection"
Exe.

[2021-11-04 22:07] klezVirus commented on #25
Hi @uspyou, thanks for opening an issue. However, the issue as it is doesn't provide me with the adequate context to take action. I'll wait for a few days to have additional information, and close it afterwards in case I don't receive the required information. Hope you'll understand.

[2021-11-08 11:56] TAI-REx commented on #20
Guys i have the same issue. Im try to resolve that. brb

[2021-11-11 22:15] CT-H00K commented on #22
Hi, I tried your tool using a .def file created with

[code]

I provided the `file.def` as `--exports` parameter but I get the following error when executed:
[code]

How can I set custom exports?

[2021-11-12 09:31] klezVirus commented on #25
Closing for inactivity. Feel free to reopen.

[2021-11-12 09:31] #25 closed

[2021-11-12 12:53] klezVirus opened #26 "Definition file not working"
Hi, I tried your tool using a .def file created with

[code]

I provided the `file.def` as `--exports` parameter but I get the following error when executed:
[code]

How can I set custom exports?

_Originally posted by @CT-H00K in https://github.com/klezVirus/inceptor/issues/22#issuecomment-966664175_

[2021-11-16 15:37] klezVirus commented on #26
Hi @CT-H00K, I've tried now using the dev branch and it seems the issue has been already fixed.

[2021-11-17 07:54] CT-H00K commented on #26
Hi @klezVirus , I cannot test it since the dev branch is still kinda buggy and not properly executing.
![inceptor_bug](https://user-images.githubusercontent.com/73144188/142158345-99590148-530d-42f1-9b7d-8474ecd58154.png)

I've tried with venv and pipenv for the virtual environment.

Do you plan switching to poetry in the future?
https://python-poetry.org/

[2021-11-17 08:31] klezVirus commented on #26
Yeah you're right, I'm still solving a few issues before merging. I'll merge Dev and main very soon anyway.
Didn't know poetry, seems very useful, I'll consider that for sure, thanks for the suggestion! ;)

[2021-11-18 16:52] SamSap10l opened #27 "The target binary is x86, while donut is running as x64"
Hello everyone, I continue to receive the following error.
[>] Transformer: Donut Traceback (most recent call last): File "C:\Users\username\Downloads\inceptor\inceptor\generators\NativeArtifactGenerator.py", line 249, in generate self.generate_wrapped() File "C:\Users\username\Downloads\inceptor\inceptor\generators\NativeArtifactGenerator.py", line 271, in generate_wrapped shellcode_bytes = self.

[2021-11-18 22:14] klezVirus commented on #27
Hi @SamSap10l, I would be grateful if you can respect the issue template the next time. This is to ensure I have the adequate context to take action. You can do that by going to Issues -> New Issue, and then Selecting for the Bug Report template.

![image](https://user-images.githubusercontent.com/8959898/142505297-029516da-e703-425e-b3ce-ae5549a280d2.png)

In this case, can you please provide the

[2021-11-23 14:43] Chomikmarkus opened #28 "msvpd.dll"
I am countering issue when try to encode existing msfvenom exe
msvcp140.dll missing
Terminal output:

(venv) C:\Users\Administrator\inceptor\inceptor>cd ..

(venv) C:\Users\Administrator\inceptor>pip install -r requirements.txt
Requirement already satisfied: frida in c:\users\administrator\inceptor\venv\lib
\site-packages (from -r requirements.txt (line 1)) (15.1.12)
Requirement already satisfied:

[2021-11-23 14:44] Chomikmarkus commented on #28
![Uploading Screenshot_20211123-164248.png…]()

[2021-11-23 14:45] Chomikmarkus commented on #28
![Screenshot_20211123-164248](https://user-images.githubusercontent.com/92059377/143045569-b13631e0-8966-47a4-87ee-fc24fc77165f.png)

[2021-11-23 23:42] #28 closed

[2021-11-23 23:42] Chomikmarkus commented on #28
Visual Studio 19 missed librarys

[2021-11-24 03:28] EddieIvan01 commented on #11
Same issue, the problem is that the COMPILERS.vcvarsall in config.ini is null, so the compiling command line is `"C:\inceptor" x64 & "C:\inceptor\obfuscators\native\llvm-clang\llvm-clang\clang-cl.exe" ...`

[2021-11-24 10:25] Chomikmarkus opened #29 "permission error"
Running into Permission errors with native payloads! when try it either from raw shellcode or exe getting permission error! when i do it from msfvenom .dotnet payload all works fine!!
output from.terminal

11/24/2021  11:04 AM    <DIR>          temp
11/23/2021  09:19 PM    <DIR>          templates
11/23/2021  09:19 PM    <DIR>          tests
11/23/2021  09:19 PM            13,927 update-config.py

[2021-12-31 09:47] klezVirus commented on #29
Hi mate, sorry for the delay. We've seen this error in the past and it is usually related to a missing DLL in the llvm-obfuscator package. You can check it out by trying to execute directly the `clang-cl.exe` utility in the obfuscator directory `.\obfuscators\native\llvm-clang\llvm-clang\clang-cl.exe`. If a DLL is missing, it will show you a message box with the name of the missing DLL.

May I ask

[2022-01-02 07:39] majid-derkaoui opened #30 "[ERROR] Module etw was not found"
▒ by d3adc0de (@klezVirus)
--------------------------------------------------------------------------------------

[ERROR] Module etw was not found
[*] Multiple compatible templates identified, choose one:
  0: assembly_load.cs
  1: classic.cs
  2: service.cs
  $>

[2022-01-11 21:43] nemesis7331 opened #31 "PermissionError: [WinError 5] Access is denied"
**Describe the bug**
Permission denied error when run

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Debug Info:**
as mentioned in issue#29 i already tried this

[code]
running with DEBUG=1

[code]

Thanks a lot!

[2022-01-12 16:08] klezVirus commented on #31
Hi @brn7331, in this case it's not related to the obfuscator as you're not using it. Have you run the update-config? Can you provide me with the config.ini file generated by the tool?

[2022-01-14 09:36] brn7331 commented on #31
Hi @klezVirus, I ran update-config.py, which generated the config.ini with the following content:

[code]

thanks

[2022-01-14 11:07] klezVirus commented on #31
Yep, it seems that the tool cannot detect the location of the `cl.exe` compiler. Where you have it installed? It should be shipped by VS by default. So, the question I need an answer to are:

1. Do you have Visual Studio istalled?
2. Is Visual Studio installed in the default location?
3. What is the version of Visual Studio installed?
4. Did you run `python update-config.py`?
5. If yes, you get an

[2022-01-14 11:19] brn7331 commented on #31
I do not have a file named `cl.exe` on my system, I checked with the following command:

[code]

answering to your questions:

1. I have Visual Studio installed
2. Visual Studio is installed in the default location to my knowledge: `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\Common7\IDE`
3. It is Visual Studio 2019, as the latest version (2022) had some issue during my tests
4.

[2022-01-14 18:59] klezVirus commented on #31
So, if you miss `CL.EXE`, it probably means you've configured VS for .NET development but not for C/C++ development. This mean you want be able to compile anything with the default compiler, and should always use the LLVM compiler. This can be done by manually specifying the LLCM clang compiler `-C llvm`, or by setting the `-O` option (obfuscate). In alternative, you can run again the VS installer

[2022-02-02 07:03] klezVirus commented on #27
Closing for lack of response.

[2022-02-02 07:03] #27 closed

[2022-02-02 07:04] klezVirus commented on #19
Closing due to missing response.

[2022-02-02 07:04] #19 closed

[2022-03-28 23:15] Revozop opened #32 "Permission Denied"
Traceback (most recent call last):
  File "C:\Users\Mushroom\Desktop\inceptor-main\inceptor\generators\NativeArtifactGenerator.py", line 249, in generate
    self.generate_wrapped()
  File "C:\Users\Mushroom\Desktop\inceptor-main\inceptor\generators\NativeArtifactGenerator.py", line 292, in generate_wrapped
    self.compile_exe(shellcode)
  File "C:\Users\Mushroom\Desktop\inceptor-main\inceptor\ge

[2022-04-01 02:32] #32 closed

[2022-04-01 21:39] Revozop commented on #26
how to import the .def file ?

![image](https://user-images.githubusercontent.com/91875992/161344895-c6025c91-737e-4007-a382-3086acb43751.png)

[2022-04-01 22:01] klezVirus commented on #26
Hi @Revozop, the definition file can be added with the `--exports` parameter   Let me know if it works, I'm working on a few updates at the moment and don't remember if this is working fine in the main branch.

You can find more examples in the wiki page [Example By Scenario](https://github.com/klezVirus/inceptor/wiki/Examples-by-scenario)

[2022-04-11 09:01] pentest01 opened #33 "[-] The target binary is x86, while donut is running as x64"
I get this error when i try to run inceptor on a 32bit dotnet payload. Is there anyway to solve this issue?

![image](https://user-images.githubusercontent.com/103268912/162702307-b6fb0062-9020-4287-bc12-8bfbb301d259.png)

[2022-04-11 10:21] klezVirus commented on #33
Hi @pentest01, I can't see your command line from the screenshot. Are you supplying the `--arch x86` argument to inceptor?

[2022-04-11 21:10] klezVirus commented on #33
Bypassing AV by using public templates is not possible. The detection is strictly related to the template you use. But the template is something you should develop yourself. The public templates aims to give an example on how to develop your own.

I need to improve the template engine and the template development wiki, but I'm struggling with time.

On a side note, to bypass the AV, Native payload

[2022-04-11 21:10] #33 closed

[2022-04-13 13:40] bestrocker221 opened #34 "zlib encoder error - Could not load file or assembly Zlib.Portable"
**Describe the bug**
zlib module should work

**To Reproduce**
` python3 .\chain-validate.py -l cs -e zlib`

**Expected behavior**
Working

**Output**
[code]

[2022-04-13 15:24] bestrocker221 opened #35 "Compiler limit exceeded: Line cannot exceed 16777214 characters"
**Describe the bug**
dotnet executable

When compiling the cs files needed for the encoders, the CSC compiler complains and stops the process.

`[-] Error: temp\tmpg84fw_q7.cs(26,16777214): error CS1034: Compiler limit exceeded: Line cannot exceed 16777214 characters`

**To Reproduce**
This happens when passing a binary (in my case ~4MB) into inceptor.

**Expected behavior**
working

**notes**
I t

[2022-04-13 17:03] klezVirus commented on #34
Hi @bestrocker221, thanks for that. Fixed by [159e22622542b915c4b83ca1e2dcf30ac481adc9](https://github.com/klezVirus/inceptor/commit/159e22622542b915c4b83ca1e2dcf30ac481adc9).

On a side note, consider that the shellcode retrieval module implementaion broke the `chain-validate.py` utility in the dev branch.

[2022-04-13 17:06] klezVirus commented on #35
Thanks @bestrocker221, it's really appreciated! I'm working on this tool alone, and in my spare time only, unfortunately. This is why I'm struggling to implement all the things that I would like.

Anyway, I had a similar problem, I think I fixed it in the dev branch but never merged. Let me take a look.

[2022-04-14 06:30] bestrocker221 commented on #35
All right!
I am checking out the dev branch, but I am not able to start any compilation due to

`[*] Phase 5: Compiling
  [-] Warning: warning CS1607: Assembly generation -- The version '10.0.19041.1586 (WinBuild.160101.0800)' specified for the 'file version' is not in the normal 'major.minor.build.revision' format`

[2022-04-14 06:43] bestrocker221 commented on #34
Hi! Thanks for fixing!
I was wondering how is it possible to compress the final executable as much as possible.
I see that I cannot chain the zlib encoder after the hex (for example), but can do the opposite. What way do you suggest?

Also, unfortunately, the zlib import works, but there is another issue. When chained with any other encoder, inceptor returns
`[*] Phase 5: Compiling
  [-] Error: te

[2022-04-14 08:54] klezVirus commented on #34
Hi @bestrocker221, I think this

[2022-04-14 09:04] klezVirus commented on #35
Strange, a warning shouldn't stop the compilation. Do you also see any error?

[2022-04-14 13:38] #30 closed

[2022-04-14 13:41] klezVirus commented on #29
Closing for now for lack of response. Feel free to reopen @Chomikmarkus.

[2022-04-14 13:41] #29 closed

[2022-04-14 13:43] #31 closed

[2022-04-14 13:44] klezVirus commented on #20
Refer to [Installation Troubleshooting](https://github.com/klezVirus/inceptor/wiki#installation-troubleshooting)

[2022-04-14 13:44] #20 closed

[2022-04-14 22:16] Revozop opened #36 "How to run Assembly load?"
i viewed 3 modes for run dotnet
assembly
classic
service

how to use assembly load or service? have any tutorial about i can use it?

[2022-04-15 07:23] klezVirus commented on #36
Hi @Revozop, yes, I'm afraid donut also need to be customised.

"Assembly" is a wrapper to load the binary using .NET `Assembly.Load(byte[])` method. You can use it, but it will work only if you're packing a .NET binary.

[2022-04-17 19:00] Revozop commented on #36
The New sandbox of windows defender is detecting, this is not only for inceptor but for almost, u can check it

[2022-04-26 12:15] rundro opened #37 "No template found with given criteria"
**Describe the bug**
I am trying to build using a provided example for syscalls and unhooking. Inceptor errors that "No template found with given criteria".

**To Reproduce**
Steps to reproduce the behavior (at least the command line used):
* example: `python inceptor.py native -m unhook -m syscalls C:\path\test.raw -o C:\path\inceptor_x64.exe`

The .exe will build if I specify -P for process inje

[2022-04-26 20:41] klezVirus commented on #37
Hi @rundro, the issue you're getting is due to the lack of a default syscall based template for self-injection or code-execution (whatever you want to call it).

Indeed, as you already experienced, it works with the `-P` flag. The output message your getting is not really an error, it just means you need to pass a target PID to the program to perform a code injection. You can also specify `-P -PN

[2022-05-18 11:33] Zab-an opened #38 "Templates documentation"
**Is your feature request related to a problem? Please describe.**
The main strength of this packer is it's ability to use templates, but the way to use them is not documented and a bit hard to understand.

**Describe the solution you'd like**
I would like some documentation on how to use templates and how the template engine works.

**Describe alternatives you've considered**
-

**Additional cont

[2022-05-20 09:41] wgetnz opened #39 "MFC in the static library"
I found that the compiler does not use MFC in the static library, which may cause the computer without the library file to not work properly

[2022-06-09 15:34] bestrocker221 opened #40 "Compilation failed when -hw in native"
**Describe the bug**
`[-] Error: clang-cl: error: no such file or directory: '/SUBSYSTEM:WINDOWS'`

I see that the error goes away when not using `-hw`
Not really sure why that is the case. Tried with adding the `-Xlinker` option before that but still same error.
Tried with changing the order of the parameter in the cmdline but that did not matter.

**To Reproduce**
* `python inceptor.py native in

[2022-06-10 10:04] klezVirus commented on #40
Hi @bestrocker221, thanks for pointing this out. I think that windows clang (CL) you doesn't consider neither the -Xlinker option nor  the --for-linker option. To forward the options to the linker you can use the `/link` option. The error was caused as in the LLVM and CLANG options the additional arguments given to the compiler for some reason appears to be starting directly with the libraries.

I

[2022-06-13 05:17] bestrocker221 commented on #40
Indeed that fixed the issue! Thanks again.

[2022-06-13 05:18] #40 closed

[2022-06-13 06:47] bestrocker221 opened #41 "Compilation error with Process injection native and native-map_view_section.cpp"
**Describe the bug**
Compilation error when using native-map_view_section.cpp with native executable

The error is the following:
` [-] Error: C:\PATH\inceptor\temp\tmpp_gn47jr.cpp(128,32): error: non-constant-expression cannot be narrowed from type 'SIZE_T' (aka 'unsigned long long') to 'DWORD' (aka 'unsigned long') in initializer list [-Wc++11-narrowing]`

**To Reproduce**
 python3.exe .\incepto

[2022-06-13 07:53] klezVirus commented on #41
Hi @bestrocker221, based on the error I guesses this was for Clang/LLVM.

Fixed with last commit at main branch [89cdee799e94f4dc8b8244a61fa47f6fff4206f5](https://github.com/klezVirus/inceptor/commit/89cdee799e94f4dc8b8244a61fa47f6fff4206f5).

Unfortunately, unlike GCC, MS compilers are quite strict with types etc. Luckily, in this case, the issue is easily solved with an explitic cast.

[2022-06-13 07:53] #41 closed

[2022-06-17 13:02] bestrocker221 opened #42 "Possible to include the necessary dlls in the resulted exe? Error: vcruntime140.dll missing"
**Is your feature request related to a problem?
Yes, when obfuscating native binaries, they cannot run on machines that do not have all the dlls in place

Moreover, even when manually copied over the proper vcruntime140.dll, it will not start saying
`The application was unable to start correctly (0xxxxxx7b)`

**Additional context**
Ran inceptor over a native binary and executed on a clean windows

[2022-06-17 13:18] klezVirus commented on #42
Hi @bestrocker221, I am aware of this issue, and I'm working on to solve it. Give me some time to solve it and I'll come back to you.
Thanks a lot for all the support and testing you're doing, it's incredibily useful!

[2022-07-02 09:24] klezVirus commented on #39
Hi @wgetnz, thanks for reporting this. Can you give me a reference link / example on how to force use of MCF?

[2022-07-02 23:43] vysecurity opened #43 "No template found"
**Describe the bug**
Keep getting no template found even after trying to bruteforce combinations to get it to work.

```python inceptor.py native beacon64.raw -C llvm -m syscalls -o incepted.exe```

**To Reproduce**
[code]

**Expected behavior**
Payload to be generated

[2022-07-02 23:46] vysecurity commented on #43
Sorted it out.

[2022-07-02 23:49] vysecurity commented on #43
Actually no. Not sure why the generated file doesn't find the PID when I used /P /P0 explorer.exe:

[code]

[2022-07-02 23:51] #43 closed

[2022-07-03 03:37] wgetnz commented on #39
Hello, I solved the problem by manually adding parameters some time ago, but I forgot which parameter, the following is the command line I used, I hope it can help you
`"C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64 & "D:\git\inceptor\inceptor\obfuscators\native\llvm-clang\llvm-clang\clang-cl.exe"  /permissive-  /GS /GL /W0 /Gy  /MT /Gm- /O2 /

[2022-08-01 14:48] seeblog opened #44 "UnicodeDecodeError"
It seems to be a coding problem

**To Reproduce**
python3 inceptor.py native 1.raw -o packed.exe -m syscalls -m dinvoke -P

Complete! Files written to:
        E:\bypassAV\inceptor\inceptor\temp\tmp5h9qny5e.h
        E:\bypassAV\inceptor\inceptor\temp\tmp5h9qny5e.c
        E:\bypassAV\inceptor\inceptor\temp\tmp5h9qny5e.asm
"C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSV

[2022-09-03 18:53] pielgrzym commented on #39
@klezVirus You have to use `/MT` instead of `/MD`? https://github.com/klezVirus/inceptor/blob/42c313fd6a0edaf0d3750b9ef90d5683cb2e3db2/inceptor/compilers/ClCompiler.py#L63

[2022-09-20 11:40] seeblog commented on #44
I think I solved this problem :  region > manage > Change system locale > select Beta (utf-8)

[2022-09-20 11:40] #44 closed

[2022-09-27 19:28] geodaftw commented on #35
Hi! Is there a work around for this? I too receive the same issue on any shellcode larger than 5MB. I've tried compressing the shellcode and receive an error on:

"No logical space left to create more user strings."

[2022-10-20 23:23] Parrishjm commented on #39
Using /MT instead of /MD was what I needed to stop my application from crashing. While inspecting it using procmon I found it always crashed right after attempting to import vcruntime140.dll. Though no error was ever shown

Installing vcruntime140.dll on the system did not resolve the issue, only statically linking it with /MT solved the issue.

I tested with multiple payloads, 1 a large 18MB Sliv